{% extends 'layouts/base.html' %}

{% block title %}Shorten your URL's with ease!{% endblock %}
{% block meta_description %}Utilize the power of hashing algorithms to simply even the most complex of URL's.{% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>Sick of long, unsecured URL's?</h1>
      <h3 class="text-muted">
          Shorten and protect your URL's through the power of URLWarden!
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-code text-primary"></i>
        <h2>Shortens Any URL</h2>
        <p class="text-muted">Brought to you by the SHA family</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-database text-primary"></i>
        <h2>Stores 1000's of Links</h2>
        <p class="text-muted">MongoDB's scalability has you covered</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-lock text-primary"></i>
        <h2>Protects Your Data</h2>
        <p class="text-muted">Restrict unwanted access with a single click</p>
        <p>
          <a href="#" class="btn btn-default">Sign up</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
